@use 'variables' as *;

// ======================
// Font Faces
// ======================
@font-face {
  font-family: 'MagicalWorld';
  src: url('../fonts/MagicalFull.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cartoonia';
  src: url('../fonts/HollowSpace.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// ======================
// Text Utility Classes
// ======================
.#{$identifier}-text {
  &--white {
    color: $white;
  }

  &--yellow {
    color: var(--secondary-color);
  }

  &--orange {
    color: var(--primary-color);
  }

  // Add font family to all text utilities
  font-family: var(--font-family), sans-serif;
}

p,
h1,
h2,
h3,
h4,
a,
div,
button {
  font-family: var(--font-family), sans-serif;
  letter-spacing: 2px;
}
