.glow-point {
  position: absolute;
  box-shadow: 0 0 1rem 0.6rem rgba(var(--glow-rgb), 0.1);
  pointer-events: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stars {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 1rem;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  pointer-events: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div#root {
  overflow: auto;
  max-height: -webkit-fill-available;
  scrollbar-width: none; /* For Firefox */

  &::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}

html {
  height: -webkit-fill-available;
}

body {
  overflow: hidden;
  font-family: 'MagicalWorld', sans-serif;
  text-align: center;
  background-image: url('../../assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: -webkit-fill-available;
  width: calc(100vw - 80px);
  margin: 0;
  margin-bottom: 21px;
  padding: 40px;
  cursor: url('../../assets/images/cursor.cur'), default;

  input[type='number'] {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  a {
    text-decoration: none;
    color: $secondary-color;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      text-decoration: none;
      color: $secondary-color;
    }
  }

  header {
    background-color: $light-overlay;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 12px 36px;
    position: relative;
    .#{$identifier}-header-container {
      padding: 8px 0px;
      .#{$identifier}-menu-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 4px;
        cursor: pointer;
        color: $white;

        img {
          width: 50px;
        }

        &:hover {
          animation: glowingRed 4s infinite alternate;
        }
      }
      @media (max-width: 768px) {
        div {
          width: 100%;
          display: flex;
          justify-content: center;

          button {
            width: 150px;
            height: 40px;
          }
        }
      }
    }

    &:hover {
      &::before {
        margin: 18px;
      }
    }
    .#{$identifier}-header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h1,
    h2 {
      font-family: 'MagicalWorld', sans-serif;
      font-size: 2em;
      color: #fff;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      width: fit-content;
      margin: 20px;

      &.#{$identifier}-level {
        font-size: 1.5em;
      }
    }

    .#{$identifier}-back-arrow {
      color: #fff;
      font-size: 1.5em;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s ease, transform 0.3s ease;
      display: inline-block;
      vertical-align: middle;
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      width: fit-content;

      &:hover {
        transform: scale(1.1);
        animation-name: buzz-out-on-hover;
        animation-duration: 0.75s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        cursor: pointer;
      }
    }

    @media (max-width: 768px) {
      padding: 8px 0px;
      .#{$identifier}-header-container {
        h1 {
          display: none;
        }
        .#{$identifier}-menu-item {
          font-size: 12px;
          img {
            width: 30px;
          }

          &:hover {
            animation: glowingRed 4s infinite alternate;
          }
        }
      }
    }
  }

  .#{$identifier}-game-intro-text {
    line-height: 2;
    font-size: 1.2em;
    min-width: 100%;

    @media (max-width: 768px) {
      font-size: 21px;
    }

    &.#{$identifier}-game-intro-text {
      text-align: justify;
      line-height: 2;
      font-size: 1.7em;
      max-width: 80%;
      text-shadow: 3px 3px 5px black;

      @media (max-width: 768px) {
        font-size: 21px;
      }

      .word {
        opacity: 0.3;
        transition: opacity 1s ease-in-out, color 1s ease;
        animation: highlight 1s forwards;
      }

      @for $i from 1 through 200 {
        .word:nth-child(#{$i}) {
          animation-delay: calc(0.35s * (#{$i} - 1));
        }
      }
    }
  }

  .#{$identifier}-home {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 0;
    }

    .#{$identifier}-dashboard-cards-wrapper {
      margin: 0px;
      overflow-y: scroll;
      margin: 21px 0px;
      display: flex;
      flex-direction: row;
      gap: 21px;
      transform: translateZ(0);

      .#{$identifier}-side-container {
        max-height: 90%;
      }

      @media (max-width: 768px) {
        flex-direction: column;
      }

      hr {
        height: 2px;
        width: 100%;
        background-color: $light-overlay;
        border: none;
      }

      .#{$identifier}-dashboard-container {
        display: flex;
        flex-direction: column;
        row-gap: 21px;
      }

      section {
        border: 2px solid $light-overlay;
        background-color: $dark-overlay;
        display: flex;
        flex-direction: column;
        padding: 21px;
        border-radius: 10px;
        min-width: 400px;

        @media (max-width: 768px) {
          min-width: auto;
        }

        &.#{$identifier}-leaderboard-section {
          position: relative;
          max-height: 600px;
          overflow: auto;
          padding: 0px;

          .#{$identifier}-loading {
            color: $white;
            padding: 21px;
          }

          .#{$identifier}-leaderboard-timeframes {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            column-gap: 21px;
            flex-wrap: nowrap;
            padding: 12px 21px;

            button {
              outline: none;
              border: none;
              padding: 8px 16px;
              color: #fff;
              cursor: pointer;
              border-radius: 10px;
              background-color: $light-overlay;

              &.active {
                background-color: $secondary-color;
              }
            }
          }

          hr {
            z-index: 0;
          }

          .#{$identifier}-leaderboard-container {
            display: flex;
            flex-direction: column;
            padding: 21px;
            row-gap: 21px;

            h3 {
              color: $white;
              font-size: 14px;
            }

            .#{$identifier}-leaderboard-game {
              border: 2px solid $light-overlay;
              padding: 12px;
              border-radius: 10px;
            }

            .#{$identifier}-leaderboard-game-title {
              margin: 0px;
              display: flex;
              justify-content: space-between;
              color: $white;
              animation: glowingRed 4s infinite alternate;
            }
          }

          .#{$identifier}-leaderboard-player-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0px 0px 12px 0px;
            margin: 0px;

            &:nth-of-type(1) {
              .#{$identifier}-leaderboard-player-info {
                .#{$identifier}-leaderboard-player-rank {
                  left: 18.5px;
                }
              }
            }

            &:nth-of-type(2) {
              .#{$identifier}-leaderboard-player-info {
                .#{$identifier}-leaderboard-player-rank {
                  left: 17.5px;
                }
              }
            }

            &:nth-of-type(4) {
              .#{$identifier}-leaderboard-player-info {
                .#{$identifier}-leaderboard-player-rank {
                  left: 17px;
                }
              }
            }

            &:nth-of-type(10) {
              .#{$identifier}-leaderboard-player-info {
                .#{$identifier}-leaderboard-player-rank {
                  left: 16.5px;
                }
              }
            }

            .#{$identifier}-leaderboard-player-info {
              position: relative;
              display: flex;
              align-items: center;
              gap: 12px;
              img {
                width: 40px;
              }

              .#{$identifier}-leaderboard-player-rank {
                position: absolute;
                letter-spacing: normal;
                line-height: normal;
                left: 18px;
                top: 12px;
                font-size: x-small;
                &:nth-of-type(2) {
                  left: 17px;
                }
              }
            }

            &:last-child {
              padding-bottom: 0px;
            }

            > div {
              text-align: left;
            }

            .#{$identifier}-leaderboard-player-stats {
              font-size: 12px;
              color: $gray;
              .#{$identifier}-leaderboard-player-wins {
                color: $white;
                font-weight: bold;
                animation: glowingWin 4s infinite alternate;
              }

              .#{$identifier}-leaderboard-player-losses {
                color: $white;
                font-weight: bold;
                animation: glowingLoss 4s infinite alternate;
              }
            }

            .#{$identifier}-leaderboard-player-rank {
              font-size: 18px;
              color: $white;
              font-weight: bold;
            }

            .#{$identifier}-leaderboard-player {
              margin: 0px;
              color: $white;
            }

            @media (max-width: 768px) {
              font-size: 16px;
            }
          }

          &::-webkit-scrollbar {
            display: none;
          }

          .#{$identifier}-section-title {
            padding: 20px 0px;
            background-color: $light-overlay;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
          }
        }

        .#{$identifier}-section-title {
          color: $white;
          display: flex;
          justify-content: center;
          border-radius: 7px;
          width: auto;
          display: flex;
          font-size: 21px;
          padding: 0px 0px 12px;
          margin: 0px;
          animation: glowingRed 4s infinite alternate;

          @media (max-width: 768px) {
            font-size: small;
          }
        }
        .#{$identifier}-cards-grid {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 20px;
          margin-top: 21px;
          padding: 0px;

          @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            padding: 24px 0px 0px;
            margin-top: 0px;
          }
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }

      .#{$identifier}-dashboard-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: $light-overlay;
        border-radius: 10px;
        overflow: hidden;
        text-decoration: none;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        max-width: 100%;
        padding: 12px;
        transform: rotate(0deg) skew(0deg) translate(0, 0);
        transition: 0.5s;
        animation: levitate 4s ease-in-out infinite;

        .#{$identifier}-ending-title {
          animation: fadeIn 0.5s ease-in-out, glowingRed 1.5s infinite alternate;
          font-size: 30px;
        }

        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            animation-delay: #{($i % 3) * 0.5}s;
          }
        }

        @media (max-width: 768px) {
          max-width: 100%;
          padding: 8px;
        }

        img {
          width: 100%;
          height: auto;
          border-radius: 8px;
          transition: transform 0.3s ease;
        }

        p {
          margin-top: 15px;
          font-size: 1.2rem;
          color: #333;
          text-align: center;
        }

        &:hover {
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
          transform: translate(0px, -15px);
          animation-play-state: paused;

          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .#{$identifier}-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 21px;

    .#{$identifier}-score-wrapper {
      justify-content: space-between;
      flex: 0 1 20%;

      .#{$identifier}-btn {
        margin: 20px 0px;
      }

      & > div {
        width: 100%;
      }

      .#{$identifier}-score {
        &-header {
          align-items: center;
          width: 100%;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
          border-bottom: 2px solid #fff;
        }

        &-title {
          color: $white;

          &-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px 0px;
          }
        }

        &-details {
          .#{$identifier}-score,
          .#{$identifier}-time {
            color: $secondary-color;
            font-size: 1.5em;
          }

          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 0px 0px 10px 0px;
        }

        &-entry {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .#{$identifier}-score {
            padding: 5px 0px;
          }

          .#{$identifier}-time {
            padding: 5px 0px;
          }
        }
      }
    }

    .#{$identifier}-side-modal-wrapper {
      justify-content: space-between;
      flex: 1 1 25%;
      border-radius: 12px;
      border: 2px solid $light-overlay;

      @media (max-width: 768px) {
        width: auto;
      }
    }

    .#{$identifier}-game-wrapper {
      flex: 1 1 75%;

      .#{$identifier}-game-side-modal {
        width: 100%;
        padding-bottom: 36px;
      }
    }
  }

  .#{$identifier}-game-wrapper,
  .#{$identifier}-score-wrapper {
    background-color: rgb(8 8 8 / 60%);
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 21px;
    border: 2px solid $light-overlay;

    &[data-level='2'] .#{$identifier}-game-board {
      grid-template-columns: repeat(4, 1fr);
    }

    &[data-level='3'] .#{$identifier}-game-board {
      grid-template-columns: repeat(5, 1fr);
    }

    @media (max-width: 768px) {
      &[data-level='2'] .#{$identifier}-game-board {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @media (max-width: 768px) {
      .#{$identifier}-game-board {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .#{$identifier}-main {
    @media (max-width: 768px) {
      flex-direction: column;
      row-gap: 20px;
      flex-wrap: wrap;

      .#{$identifier}-score-wrapper,
      .#{$identifier}-chat-wrapper {
        width: calc(100% - 80px);
      }

      .#{$identifier}-game-wrapper {
        width: calc(100% - 52px);
      }
    }
  }

  .#{$identifier}-game-wrapper {
    align-items: center;
    position: relative;

    &:not(:has(.#{$identifier}-game-intro-text)) {
      animation: teleport 2s ease-in-out;
    }

    @media (max-width: 768px) {
      padding: 24px;
      max-height: calc(80vh - 54px);
      overflow-y: auto;
    }
  }

  .#{$identifier}-game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    width: fit-content;
    animation: teleport 2s ease-in-out;
  }

  .#{$identifier}-global-container {
    .#{$identifier}-game-title {
      font-size: 2rem;
      color: $secondary-color;
      text-shadow: 0 0 10px rgba($primary-color, 0.8);
    }

    .#{$identifier}-score-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      padding: 10px;
      border-radius: 10px;

      .#{$identifier}-score-player,
      .#{$identifier}-score-computer,
      .#{$identifier}-room-number {
        font-size: 1.2rem;
        font-weight: bold;
        color: $white;
        text-shadow: 0 0 5px rgba($primary-color, 0.5);
      }

      .#{$identifier}-room-number {
        animation: glowingBlue 4s infinite alternate;
      }
    }

    .#{$identifier}-board {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      margin: 10px 0;
      border-radius: 20px;
      border: 2px solid transparent;
      padding: 24px;
      position: relative;

      @media (max-width: 768px) {
        &::after {
          bottom: 4px !important;
          right: 4px !important;
          font-size: 24px !important;
        }
      }

      @import './themes';
    }

    .#{$identifier}-square {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: normal;
      font-size: 2rem;
      font-weight: bold;
      color: $secondary-color;
      background-color: #333;
      border: 1px solid $primary-color;
      cursor: pointer;
      transition: background-color 0.3s ease, box-shadow 0.3s ease;
      border-radius: 20px;
      z-index: 1;

      &::after {
        font-size: 18px !important;
        bottom: 5px !important;
        right: 5px !important;
      }

      @import './themes';

      @import './pieces';

      &:hover {
        background-color: $light-overlay-hover;
        color: $secondary-color;
        box-shadow: 0 0 10px rgba($primary-color, 0.8);
      }

      img {
        width: 60px;
      }

      span {
        display: none;
        opacity: 0.4;
      }

      &.#{$identifier}-preview {
        position: relative;

        span {
          display: block;
          opacity: 0.3;
        }
      }
    }
  }

  .#{$identifier}-label,
  .#{$identifier}-value,
  .#{$identifier}-operation,
  .#{$identifier}-number {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .#{$identifier}-label {
    color: $secondary-color;
    font-size: medium;
  }

  .#{$identifier}-number {
    color: $secondary-color;
  }

  .#{$identifier}-value,
  .#{$identifier}-operation {
    color: $white;
  }

  .#{$identifier}-gameover-container {
    h1 {
      color: white;
      animation: partyColors 2s infinite linear;
    }
  }

  .#{$identifier}-countdown {
    font-size: 4rem;
    font-weight: bold;
    color: #ff5733;
    opacity: 0;
    transform: scale(0.5);
  }

  .#{$identifier}-shapes {
    &-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      padding: 10px;
      margin-bottom: 30px;

      &--drop {
        @extend .#{$identifier}-shapes-container;
        gap: 20px;
      }
    }
  }

  .#{$identifier}-shape {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 24px;
    cursor: grab;
    transition: transform 0.2s, box-shadow 0.2s;
    border: 4px solid transparent;

    &--yellow {
      stroke: $yellow;
      fill: $yellow;
    }

    &--blue {
      stroke: $blue;
      fill: $blue;
    }

    &--red {
      stroke: $red;
      fill: $red;
    }

    &--pink {
      stroke: $pink;
      fill: $pink;
    }

    &--green {
      stroke: $green;
      fill: $green;
    }

    &--purple {
      stroke: $purple;
      fill: $purple;
    }

    &--gray {
      stroke: $gray;
      fill: $gray;
    }

    &--drop {
      @extend .#{$identifier}-shape;
      border: 4px dashed $primary-color;

      &:not(:has(.#{$identifier}-shape)) svg {
        stroke-width: 2;
      }

      &:not(.passed) svg svg {
        fill: none;
      }

      &.passed {
        background-color: transparent;
        border: none;
      }
    }

    &:active {
      transform: scale(1.1);
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    }
  }

  .#{$identifier}-fade-in-out {
    opacity: 1;
    animation: fadeOut 0.5s ease-in-out 1 forwards;
  }

  .#{$identifier}-ending-title {
    font-size: 48px;
    position: absolute;
    border-radius: 8px;
    color: $white;
    width: 100%;
    height: 100%;
    border: 0px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 1.7s ease-in-out, glowingRed 1.5s infinite alternate;
    margin: 0px;
    background-color: #00000087;

    &.glowingBlue-text {
      animation: glowingBlue 2s infinite alternate;
    }
  }

  .#{$identifier}-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9); // semi-transparent black
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; // high enough to float above everything

    .#{$identifier}-container {
      position: relative;
      overflow-y: auto;
      padding: 48px;
      background-color: rgb(24 24 23 / 100%);
      width: 60%;
      max-height: 70%;
      border-radius: 20px;
      animation: glowIce 4s infinite alternate;
      transform: translateZ(0);

      h3,
      h1,
      h2,
      p {
        color: $white;
      }

      p {
        font-family: system-ui, -apple-system, 'Segoe UI', Roboto,
          'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
          'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
          'Noto Color Emoji';
        color: $white;
        line-height: 2;
        text-align: justify;
        font-size: 16px;
      }

      .#{$identifier}-modal-category {
        padding: 24px 24px 46px 24px;
        background-color: #4bd0fb12;
        border-radius: 10px;
      }

      .#{$identifier}-modal-body {
        display: flex;
        flex-direction: column;
        row-gap: 36px;
      }

      hr {
        animation: glowBlue 4s infinite alternate;
        margin-bottom: 36px;
      }

      &:has(.thumbs-btns) {
        @media (max-width: 768px) {
          max-width: 200px;
        }

        .#{$identifier}-modal-header {
          justify-content: center;
          margin-bottom: 21px;
        }
      }
      .#{$identifier}-modal-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .#{$identifier}-modal-title {
          font-size: 24px;
          color: $white;
          margin: 0;
        }
      }

      @media (max-width: 768px) {
        .thumbs-btns {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }
      }

      .#{$identifier}-close-btn {
        background-color: transparent;
        outline: none;
        border: none;
        color: $white;
        font-size: 21px;
        padding: 0;
        cursor: pointer;
        animation: glowingBlue 4s infinite alternate;

        &:hover {
          animation: glowingRed 4s infinite alternate;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }

      .#{$identifier}-modal-category-title {
        text-align: left;
        color: $white;
        animation: none;
        font-size: 21px;
        padding-bottom: 16px;
        margin: 0;

        &--no-user {
          text-align: center;
          padding-bottom: 0px;
          animation: glowingRed 4s infinite alternate;
        }
      }

      .#{$identifier}-modal-items-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 48px;

        .#{$identifier}-modal-item {
          background-color: $dark-overlay;
          position: relative;
          border-radius: 20px;
          padding: 24px 16px 36px 16px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          row-gap: 24px;
          box-shadow: -3px 3px 0px 0px rgb(123 123 123 / 30%);
          &:has(.#{$identifier}-modal-price) {
            padding: 24px 16px 36px 16px;
          }

          &:has(.#{$identifier}-theme) {
            row-gap: 30px;
          }

          .#{$identifier}-modal-title {
            color: $white;
            font-size: 21px;
            margin: 0;
          }

          .#{$identifier}-modal-price {
            background-color: $dark-overlay;
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 2px;
            align-items: center;
            width: 100%;
            padding: 6px 0px;
            border-radius: 10px;
            margin: 0;
            color: $white;
            box-shadow: 0px 0px 2px 0px rgb(123 123 123 / 30%);

            img {
              width: 30px;
            }
          }

          .#{$identifier}-piece {
            width: 100px;
            height: 75px;
            display: flex;
            border: none;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 48px;
            padding-left: 2px;
            text-align: center;
            letter-spacing: normal;

            @import './themes';

            &.#{$identifier}-theme {
              border-radius: 10px;
              width: 80px;
              height: 80px;

              &::after {
                bottom: -3px;
                right: 2px;
                font-size: 21px;
              }
            }

            img {
              width: 75px;
            }
          }

          .#{$identifier}-btn {
            position: absolute;
            background-color: $secondary-color;
            bottom: -15px;
            width: 60%;
            padding: 4px 0px;
            margin: 0;

            &:disabled {
              background-color: $gray;
              border: 2px solid $gray;
              animation: glowSnow 4s infinite alternate;
            }
          }
        }
      }
    }

    h2 {
      animation: glowingRed 4s infinite alternate;
      font-size: 36px;
    }

    .#{$identifier}-modal-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80vw;
    }

    ul {
      list-style: none;
      border: 4px solid $primary-color;
      border-radius: 10px;
      padding: 24px;
      width: 300px;

      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .#{$identifier}-btn {
          margin: 10px 0px;
        }

        span {
          font-size: 24px;
          animation: glowingBlue 4s infinite alternate;
        }
      }
    }

    .#{$identifier}-btn {
      padding: 12px;
      width: fit-content;
    }
  }
  img.#{$identifier}-sparkle {
    position: relative;
    display: inline-block;
  }

  img.#{$identifier}-sparkle::after {
    content: '★';
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 24px;
    color: gold;
    animation: sparkle 1s infinite alternate;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
  }

  img.#{$identifier}-sparkle::before {
    content: '★';
    position: absolute;
    bottom: -10px;
    right: -10px;
    font-size: 24px;
    color: gold;
    animation: sparkle 1s infinite alternate;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
  }

  img.#{$identifier}-sparkle:hover::after,
  img.#{$identifier}-sparkle:hover::before {
    opacity: 1;
  }

  @media (max-width: 768px) {
    padding: 12px;
    margin-bottom: 72px;
    height: -webkit-fill-available;
    width: calc(100vw - 24px);

    .#{$identifier}-home {
      h1 {
        display: flex;
        margin: 0;
        font-size: 24px;
      }
    }

    header {
      h1 {
        display: none;
      }

      h2.#{$identifier}-level {
        font-size: 16px;
      }

      .#{$identifier}-back-arrow {
        font-size: 16px;
      }
    }

    .#{$identifier}-memory-item {
      width: 70px;
      height: 70px;
      font-size: 42px;
    }

    .#{$identifier}-gameover-container {
      img {
        width: 80vw;
      }
    }

    .#{$identifier}-modal-overlay {
      .#{$identifier}-container {
        padding: 21px;
        width: 80%;

        .#{$identifier}-modal-header {
          h1 {
            font-size: 18px;
          }
        }

        .#{$identifier}-modal-body {
          .#{$identifier}-modal-category {
            hr {
              margin-top: 0px;
              margin-bottom: 32px;
            }
            .#{$identifier}-modal-category-title {
              padding-bottom: 12px;
              font-size: 16px;
            }
            .#{$identifier}-modal-items-container {
              grid-template-columns: repeat(3, 1fr);
              column-gap: 16px;
              row-gap: 32px;

              .#{$identifier}-modal-item {
                padding: 16px 4px 24px 4px;
                row-gap: 16px;

                .#{$identifier}-piece {
                  width: 40px;
                  height: 40px;
                  font-size: 32px;

                  img {
                    width: 50px;
                  }
                }

                .#{$identifier}-modal-price {
                  width: 80%;
                  padding: 4px;
                  font-size: 10px;
                  img {
                    width: 16px;
                  }
                }
                .#{$identifier}-btn {
                  padding: 2px 0px;
                  font-size: 12px;
                  bottom: -10px;
                  width: 70%;
                }
              }
            }
          }
        }
      }
    }
  }
}

.magic-particle {
  pointer-events: none;
}

.glowing {
  box-shadow: 0 0 15px 5px $secondary-color;
  animation: glowingRed 1.5s infinite alternate;
}

.firefly {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw;
  }

  &::before {
    background: black;
    opacity: 0.4;
    animation: drift ease alternate infinite;
  }

  &::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
    animation: drift ease alternate infinite, flash ease infinite;
  }
}

// Buy me a coffee

div#bmc-wbtn {
  background-color: #c47f3c91 !important;
}
