&.#{$identifier} {
  &-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    @media (max-width: 768px) {
      background-size: 25px;
    }

    &-angry {
      background-image: url('/assets/images/elements/board_pieces/angry.webp');
      font-size: 0 !important;
    }

    &-fire {
      background-image: url('/assets/images/elements/board_pieces/fire.webp');
      font-size: 0 !important;
    }

    &-ice {
      background-image: url('/assets/images/elements/board_pieces/ice.webp');
      font-size: 0 !important;
    }

    &-robot {
      background-image: url('/assets/images/elements/board_pieces/robot.webp');
      font-size: 0 !important;
    }

    &-snake {
      background-image: url('/assets/images/elements/board_pieces/snake.webp');
      font-size: 0 !important;
    }

    &-sword {
      background-image: url('/assets/images/elements/board_pieces/sword.webp');
      font-size: 0 !important;
    }

    &-soccer {
      background-image: url('/assets/images/elements/board_pieces/soccer.webp');
      font-size: 0 !important;
    }

    &-nosee {
      background-image: url('/assets/images/elements/board_pieces/nosee.webp');
      font-size: 0 !important;
    }

    &-nospeak {
      background-image: url('/assets/images/elements/board_pieces/nospeak.webp');
      font-size: 0 !important;
    }

    &-nohear {
      background-image: url('/assets/images/elements/board_pieces/nohear.webp');
      font-size: 0 !important;
    }
  }
}
