$identifier: 'mq' !default;
$primary-color: #b2a3794f !default;
$primary-color-hover: #5c5e3d !default;
$dark-overlay: rgba(8, 8, 8, 0.6) !default;
$light-overlay: #b2a3794f !default;
$light-overlay-hover: #5c5e3d !default;
$secondary-color: #c47f3c !default;
$primary-color-faded: #ff7f5075 !default;
$background-color: #f4f4f4 !default;
$text-color: #333 !default;
$yellow: #ffcc00 !default;
$blue: #00ccff !default;
$red: #ff6666 !default;
$pink: #ff99cc !default;
$green: #a2d5a5 !default;
$purple: #cc99ff !default;
$gray: #808080 !default;
$white: #ffffff !default;
$black: #000000 !default;

// CSS custom properties
:root {
  --glow-rgb: 250, 250, 250;
  --glow-rgb-primary: 77, 126, 126;
  --glow-rgb-secondary: 203, 140, 107;
}
