$identifier: 'mq' !default;

:root {
  --glow-rgb: 250, 250, 250;
  --glow-rgb-primary: 77, 126, 126;
  --glow-rgb-secondary: 203, 140, 107;
}

$text-color: #333 !default;
$yellow: #ffcc00 !default;
$blue: #00ccff !default;
$red: #ff6666 !default;
$pink: #ff99cc !default;
$green: #a2d5a5 !default;
$purple: #cc99ff !default;
$gray: #808080 !default;
$white: #ffffff !default;
$black: #000000 !default;

$fantasy: (
  font-family: 'MagicalWorld',
  primary-color: #b2a3794f,
  primary-color-hover: #5c5e3d,
  dark-overlay: rgba(8, 8, 8, 0.6),
  light-overlay: #b2a3794f,
  light-overlay-hover: #5c5e3d,
  secondary-color: #c47f3c,
  secondary-color-dark: darken(#c47f3c, 10%),
  secondary-color-light: lighten(#c47f3c, 10%),
  primary-color-faded: #ff7f5075,
  background-color: #f4f4f4,
  background-image: url('/assets/images/fantasy/background.webp'),
  title-display: none,
  title-glow: glowingRed 4s infinite alternate,
  header-icon-width-mobile: 55px,
  cards-grid-padding: 21px 0px,
  leaderboard-rank: flex,
  leaderboard-rank-badge-size: 40px,
  text-color: #c47f3c,
  board-light-color: #f3d5b0,
  board-dark-color: #5d4022,
  user-progress-border: 2px solid,
  user-progress-padding: 8px 14px,
  container-glow: glowFantasy 4s infinite alternate,
  modal-item-border: #b2a379,
  modal-item-after-bg-color: rgb(0 0 0 / 53%),
  modal-category-bg-color: #4bd0fb12,
  modal-item-box-shadow-color: #c2d77661,
  font-size-mobile: 12px,
  footer-icon-size: 35px,
  linear-gradient: linear-gradient(to bottom, #be7b47, #124248)
);

$vintage: (
  font-family: 'MagicalWorld',
  primary-color: #b79778,
  primary-color-hover: #5c5e3d,
  dark-overlay: rgba(8, 8, 8, 0.6),
  light-overlay: #bf9f7f71,
  light-overlay-hover: #5c5e3d,
  secondary-color: #683816,
  secondary-color-dark: darken(#683816, 10%),
  secondary-color-light: lighten(#683816, 10%),
  primary-color-faded: #ff7f5075,
  background-color: #f4f4f4,
  background-image: url('/assets/images/vintage/background.webp'),
  title-display: flex,
  title-glow: none,
  header-icon-width-mobile: 60px,
  header-icon-width: 60px,
  cards-grid-padding: 0px,
  leaderboard-rank: none,
  leaderboard-rank-badge-size: 30px,
  text-color: #b79778,
  board-light-color: #f3d5b0,
  board-dark-color: #5d4022,
  user-progress-border: 2px solid,
  user-progress-padding: 8px 14px,
  container-glow: glowVintage 4s infinite alternate,
  modal-item-border: #b2a379,
  modal-item-after-bg-color: #0000005b,
  modal-category-bg-color: rgb(115 90 64 / 25%),
  modal-item-box-shadow-color: #977a51,
  font-size-mobile: 12px,
  footer-icon-size: 35px,
  linear-gradient: linear-gradient(to bottom, #824e32, #2e2822)
);

$cartoonia: (
  font-family: 'Cartoonia',
  primary-color: #a8d5e2,
  primary-color-hover: #81b9c6,
  secondary-color: #276782,
  secondary-color-dark: darken(#3e8a7f, 8%),
  secondary-color-light: lighten(#3e8a7f, 12%),
  tertiary-color: #557999,
  tertiary-color-dark: darken(#557999, 8%),
  tertiary-color-light: lighten(#557999, 12%),
  dark-overlay: rgba(25, 20, 30, 0.5),
  light-overlay: rgba(255, 255, 255, 0.6),
  light-overlay-hover: rgba(255, 255, 255, 0.8),
  primary-color-faded: rgba(168, 213, 226, 0.4),
  background-color: #f0f4ff,
  background-image: url('/assets/images/cartoonia/background.webp'),
  title-display: inline-flex,
  title-glow: none,
  header-icon-width-mobile: 50px,
  header-icon-width: 70px,
  cards-grid-padding: 21px 0px 12px,
  leaderboard-rank: none,
  leaderboard-rank-badge-size: 32px,
  text-color: #de9c48,
  board-light-color: #f3d5b0,
  board-dark-color: #5d4022,
  user-progress-border: 2px dashed #81b9c6,
  user-progress-padding: 10px 16px,
  container-glow: glowCartoonia 3s infinite alternate,
  modal-item-border: #cd8f9e,
  modal-item-after-bg-color: rgb(38 39 39 / 68%),
  modal-category-bg-color: rgba(247, 196, 211, 0.25),
  modal-item-box-shadow-color: rgb(118 132 138),
  menu-item-padding: 15px 0px,
  menu-item-text-stroke: 5px #346980,
  paint-order: stroke fill,
  font-size: 26px,
  font-size-mobile: 16px,
  footer-icon-size: 50px,
  linear-gradient: linear-gradient(to bottom, #346980, #352a36)
);

/// A helper to emit custom‐properties for a given map and selector
@mixin generate-theme($name, $map) {
  [data-theme='#{$name}'] {
    @each $key, $val in $map {
      --#{$key}: #{$val};
    }
  }
}

$games-list: (
  bingo,
  orbito,
  chess,
  connect_four,
  tictactoe,
  checkers,
  scramble,
  sudoku,
  jigsaw,
  personal_jigsaw,
  matching,
  memory,
  dropzone
);

/// 2. Loop over each theme and each game, emitting a --<game>-bg-image variable
@each $theme-name,
  $theme-map in (fantasy: $fantasy, vintage: $vintage, cartoonia: $cartoonia)
{
  [data-theme='#{$theme-name}'] {
    @each $game in $games-list {
      // e.g. --bingo-bg-image: url('/assets/images/fantasy/bingo.jpg');
      --#{$game}-bg-image: url('/assets/images/#{$theme-name}/#{$game}.webp');
    }
  }
}

// generate both at build time
@include generate-theme('fantasy', $fantasy);
@include generate-theme('vintage', $vintage);
@include generate-theme('cartoonia', $cartoonia);
