.#{$identifier}-checker-game {
  .#{$identifier}-global-container {
    .#{$identifier}-board {
      gap: 0;
      position: relative;
      display: grid;
      grid-template-rows: repeat(8, 1fr); /* 8 rows */
      grid-template-columns: repeat(1, 1fr);
      border-radius: 10px;
      overflow: hidden;
      .#{$identifier}-row {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
      }
    }

    .#{$identifier}-square {
      width: 90px;
      height: 90px;
      font-size: 36px;
      border-radius: 0;
      border: none;
      cursor: pointer;

      &.selected {
        box-shadow: 0 0 10px $secondary-color;
      }

      &.empty {
        cursor: default;
      }

      &:hover {
        background-color: $light-overlay;
      }

      img {
        width: 70%;
        height: 70%;

        .upgrade {
          animation: upgradeAnimation 2s ease-in-out;
        }
      }

      display: flex;
      justify-content: center;
      align-items: center;

      /* Default background color for light squares */
      background-color: $light-overlay;
    }

    /* Checkerboard pattern: dark squares alternate with light squares */
    .#{$identifier}-row:nth-child(even) .#{$identifier}-square:nth-child(odd),
    .#{$identifier}-row:nth-child(odd) .#{$identifier}-square:nth-child(even) {
      background-color: #333; /* Dark color */
      &.valid {
        background-color: #86f6868f;
        cursor: pointer;
      }
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
      .#{$identifier}-square {
        font-size: 16px;
        width: 30px;
        height: 30px;
      }
    }
  }
}
