@use '../variables' as *;

.#{$identifier}-dropzone-game {
  .#{$identifier}-shape svg {
    fill: var(--secondary-color);
    stroke: var(--secondary-color);
  }

  .#{$identifier}-shape--drop {
    svg {
      fill: transparent;
      stroke: var(--secondary-color);
      circle,
      rect,
      ellipse {
        fill: transparent;
        stroke: var(--secondary-color);
      }
      svg .drop-svg {
        fill: transparent;
        stroke: var(--secondary-color);
      }
    }

    &.passed {
      svg {
        fill: var(--secondary-color);
        stroke: var(--secondary-color);
        circle,
        rect,
        ellipse {
          fill: var(--secondary-color);
          stroke: var(--secondary-color);
        }
        svg {
          fill: var(--secondary-color);
          stroke: var(--secondary-color);
        }
      }
    }
  }
}
