/* General chat styles */
.#{$identifier}-game-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  background-color: $primary-color;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  transition: all 0.3s ease-in-out;

  @media (max-width: 480px) {
    width: 300px;
  }

  &.minimized {
    width: fit-content;
    height: fit-content;
    padding: 8px;

    button {
      padding: 0 4px;
    }

    header {
      width: fit-content;
      margin-bottom: 0px;
      @media (max-width: 480px) {
        padding: 0px 4px;
      }
    }
  }

  .#{$identifier}-messages {
    padding: 10px;
    height: 400px;
    overflow-y: auto;

    @media (max-width: 480px) {
      height: 200px;
    }

    // Hide scrollbar (Webkit-based browsers)
    &::-webkit-scrollbar {
      display: none;
    }

    // Hide scrollbar (Firefox)
    scrollbar-width: none;

    // Hide scrollbar (Edge, IE - not modern, but for completeness)
    -ms-overflow-style: none;
  }

  .#{$identifier}-message {
    position: relative;
    background: $white;
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    margin-bottom: 0.5rem;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    hr {
      width: 100%;
    }

    &--user {
      text-align: left;
      color: $secondary-color;
      font-weight: bold;
      margin-bottom: 0.25rem;
    }

    &--messsage {
      text-align: left;
      color: $gray;
      font-size: 1rem;
      line-height: 1.4;
      word-break: break-word;
    }

    &--date {
      padding-top: 8px;
      font-size: 10px;
      color: $gray;
      text-align: right;
    }
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }

  input {
    width: calc(100% - 50px);
    height: 45px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-right: 12px;
    padding: 0px 8px;
    background-color: $primary-color;
    &::placeholder {
      color: $white;
      opacity: 1; // Ensures the white is fully visible
    }
    &:active,
    &:focus {
      border-color: $secondary-color;
      outline-color: $secondary-color;
    }
  }

  button {
    cursor: pointer;
  }

  .#{$identifier}-submit-btn {
    height: 45px;
    margin: 0px;
    width: fit-content;
    background-color: $secondary-color;
    flex: 1 0 auto;
  }

  .minimize-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: $white;
    font-size: 36px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0;
  }

  header {
    margin: 0px;
    width: auto;
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-color;
    color: $white;
    span {
      width: 100%;
      text-align: left;
    }
  }
}
