@use '../variables' as *;
@use '../themes' as *;
@use '../pieces' as *;

.#{$identifier}-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9); // semi-transparent black
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // high enough to float above everything

  .#{$identifier}-container {
    position: relative;
    overflow-y: auto;
    padding: 48px;
    background-color: rgb(24 24 23 / 100%);
    width: 60%;
    max-height: 70%;
    border-radius: 20px;
    animation: var(--container-glow);
    transform: translateZ(0);

    h3,
    h1,
    h2,
    p {
      color: $white;
    }

    p {
      font-family: system-ui, -apple-system, 'Segoe UI', Roboto,
        'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
      color: $white;
      line-height: 2;
      text-align: justify;
      font-size: 16px;
    }

    .#{$identifier}-modal-category {
      z-index: 1;
      padding: 24px 24px 46px 24px;
      background-color: var(--modal-category-bg-color);
      border-radius: 10px;
      background-image: url('/assets/images/stardust.png');
      background-repeat: repeat;
      background-size: auto;
      animation: shimmer 20s linear infinite;

      @keyframes shimmer {
        0% {
          background-position: 0 0;
        }
        100% {
          background-position: 200% 200%;
        }
      }
    }

    .#{$identifier}-modal-body {
      display: flex;
      flex-direction: column;
      row-gap: 36px;

      .signup-disclaimer {
        text-align: left;
      }

      .#{$identifier}-terms-text {
        margin: 0px;

        strong {
          color: var(--secondary-color);
        }
      }

      .#{$identifier}-about-content {
        display: flex;
        flex-direction: row;
        gap: 21px;

        @media (max-width: 768px) {
          flex-direction: column;
          align-items: center;
        }

        .#{$identifier}-profile-image {
          width: 150px;
          height: auto;
          border-radius: 10px;
          border: 2px solid var(--light-overlay);

          @media (max-width: 768px) {
            width: 100%;
          }
        }

        .#{$identifier}-diamond-image {
          width: 30px;
          position: relative;
          top: 5px;
        }

        .#{$identifier}-about-text {
          margin-top: 0px;
          font-size: large;

          a {
            border: 2px solid var(--text-color);
            padding: 3px 8px;
            border-radius: 10px;
          }

          strong {
            font-family: 'MagicalWorld', sans-serif;
            color: var(--text-color);
          }
        }
      }
    }

    hr {
      animation: glowBlue 4s infinite alternate;
      margin-bottom: 36px;
    }

    &:has(.thumbs-btns) {
      @media (max-width: 768px) {
        max-width: 200px;
      }

      .#{$identifier}-modal-header {
        justify-content: center;
        margin-bottom: 21px;
        text-align: center;
      }
    }
    .#{$identifier}-modal-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .#{$identifier}-modal-title {
        font-size: 24px;
        color: $white;
        margin: 0;
        text-align: left;
      }
    }

    @media (max-width: 768px) {
      .thumbs-btns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }

    .#{$identifier}-close-btn {
      background-color: transparent;
      outline: none;
      border: none;
      color: $white;
      font-size: 21px;
      padding: 0;
      cursor: pointer;
      animation: glowingBlue 4s infinite alternate;

      &:hover {
        animation: glowingRed 4s infinite alternate;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .#{$identifier}-modal-category-title {
      text-align: left;
      color: $white;
      animation: none;
      font-size: 21px;
      padding-bottom: 16px;
      margin: 0;

      &--no-user {
        text-align: center;
        padding-bottom: 0px;
        animation: glowingRed 4s infinite alternate;
      }
    }

    .#{$identifier}-modal-items-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 48px;

      .mq-screenshot-grid {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .modal-nav {
          background: none;
          border: none;
          cursor: pointer;
          font-size: 3rem;
          cursor: pointer;
          padding: 4px;
          line-height: 1;
          color: var(--text-color);
        }

        .modal-nav:disabled {
          opacity: 0.3;
          cursor: default;
        }
      }

      &:has(.#{$identifier}-screenshot-grid) {
        grid-template-columns: repeat(1, 1fr);
      }

      .#{$identifier}-screenshot-grid {
        padding: 0;
        position: relative;
        width: 100%;
        height: 100%;
      }

      .#{$identifier}-modal-item {
        background: var(--background-image);
        background-size: cover;
        background-repeat: repeat;
        position: relative;
        border: 3px solid var(--modal-item-border);
        border-radius: 20px;
        padding: 24px 16px 36px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 24px;
        box-shadow: 0 0 20px var(--dark-overlay);

        &:after {
          content: '';
          top: 0;
          z-index: 0;
          border-radius: 20px;
          position: absolute;
          background-color: var(--modal-item-after-bg-color);
          width: 100%;
          height: 100%;
        }

        &:hover {
          box-shadow: 0 0 30px var(--light-overlay-hover);
        }

        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);

        &:has(.#{$identifier}-modal-price) {
          padding: 24px 16px 36px 16px;
        }

        &:has(.#{$identifier}-screenshot-grid) {
          width: auto;
          height: auto;

          .#{$identifier}-modal-price {
            justify-content: center;
            gap: 12px;
          }

          .#{$identifier}-piece {
            position: relative;
            width: -webkit-fill-available;
            height: auto;
            padding: 21px;
            display: block;
            background-color: transparent;

            img {
              width: 90%;
              border: 2px solid var(--light-overlay);
              border-radius: 10px;
              height: auto;
              max-height: 100vh;
              object-fit: contain;
            }
          }
        }

        &:has(.#{$identifier}-theme) {
          row-gap: 30px;
        }

        &:has(.#{$identifier}-piece img) {
          &::before {
            z-index: 1;
            content: '';
            position: absolute;
            top: 10px;
            left: 12px;
            width: 20px;
            height: 20px;
            pointer-events: none;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2024%2024%22%20width=%2224%22%20height=%2224%22%3E%3Cpath%20d=%22M9,8%20C11,12%2011,12%209,16%22%20stroke=%22%23fff%22%20stroke-width=%222%22%20fill=%22none%22/%3E%3Cpath%20d=%22M12,6%20C14,12%2014,12%2012,18%22%20stroke=%22%23fff%22%20stroke-width=%222%22%20fill=%22none%22/%3E%3Cpath%20d=%22M15,4%20C17,12%2017,12%2015,20%22%20stroke=%22%23fff%22%20stroke-width=%222%22%20fill=%22none%22/%3E%3C/svg%3E');

            @media (max-width: 768px) {
              top: 12px;
              left: 12px;
              width: 15px;
              height: 15px;
            }
          }
        }

        .#{$identifier}-modal-title {
          color: $white;
          font-size: 21px;
          margin: 0;
        }

        .#{$identifier}-modal-price {
          z-index: 1;
          background-color: var(--modal-item-after-bg-color);
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          column-gap: 2px;
          align-items: center;
          width: 100%;
          padding: 6px 0px;
          border-radius: 10px;
          margin: 0;
          color: $white;
          box-shadow: 0px 0px 2px 0px rgb(123 123 123 / 30%);

          img {
            width: 30px;
            height: auto;
          }
        }

        .#{$identifier}-piece {
          z-index: 1;
          width: 90px;
          height: 75px;
          display: flex;
          border: none;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-size: 40px;
          text-align: center;
          letter-spacing: normal;
          background-color: var(--modal-item-after-bg-color);
          border-radius: 20px;
          @include themes;

          &.#{$identifier}-theme {
            border-radius: 10px;
            width: 80px;
            height: 80px;
            background-color: var(--dark-overlay);

            &::after {
              bottom: -3px;
              right: 2px;
              font-size: 21px;
            }
          }

          img {
            width: 55px;
            height: auto;
          }
        }

        .#{$identifier}-btn {
          z-index: 1;
          position: absolute;
          background-color: var(--secondary-color);
          bottom: -13px;
          width: 60%;
          padding: 6px 0px;
          margin: 0;

          &.#{$identifier}-realm {
            bottom: -18px;
            width: 40%;
            padding: 10px 0px;
            text-transform: capitalize;
          }

          &:disabled {
            background-color: $gray;
            border: 2px solid $gray;
            text-shadow: none;
          }
        }
      }
    }
  }

  h2 {
    animation: glowingRed 4s infinite alternate;
    font-size: 36px;
  }

  .#{$identifier}-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
  }

  ul {
    list-style: none;
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    padding: 24px;
    width: 300px;

    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .#{$identifier}-btn {
        margin: 10px 0px;
      }

      span {
        font-size: 24px;
        animation: glowingBlue 4s infinite alternate;
      }
    }
  }

  .#{$identifier}-btn {
    padding: 12px;
    width: fit-content;
  }

  @media (max-width: 768px) {
    .#{$identifier}-container {
      padding: 21px;
      width: 80%;

      .#{$identifier}-modal-header {
        h1 {
          font-size: 18px;
        }
      }

      .#{$identifier}-modal-body {
        .#{$identifier}-modal-category {
          hr {
            margin-top: 0px;
            margin-bottom: 32px;
          }
          .#{$identifier}-modal-category-title {
            padding-bottom: 12px;
            font-size: 16px;
          }
          .#{$identifier}-modal-items-container {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 16px;
            row-gap: 32px;
            &:has(.#{$identifier}-screenshot-grid) {
              grid-template-columns: repeat(1, 1fr);
            }

            .mq-screenshot-grid {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 8px;

              .modal-nav {
                font-size: 2rem;
                padding: 4px;
              }

              .modal-nav:disabled {
                opacity: 0.3;
                cursor: default;
              }
            }

            .#{$identifier}-modal-item {
              padding: 35px 4px 40px 4px;
              row-gap: 16px;

              &:has(.#{$identifier}-screenshot-grid) {
                width: auto;
                height: auto;

                .#{$identifier}-piece {
                  position: relative;
                  width: -webkit-fill-available;
                  height: auto;
                  padding: 21px;
                  display: block;

                  img {
                    width: 90%;
                    border: 2px solid var(--light-overlay);
                    border-radius: 10px;
                    height: 170px;
                    max-height: 100vh;
                    object-fit: cover;
                  }
                }
              }

              .#{$identifier}-piece {
                width: 80px;
                height: 80px;
                font-size: 45px;

                img {
                  width: 60px;
                  height: auto;
                }
              }

              .#{$identifier}-modal-price {
                width: 80%;
                font-size: 12px;
                img {
                  width: 16px;
                  height: auto;
                }
              }
              .#{$identifier}-btn {
                padding: 7px 0px;
                font-size: 12px;
                bottom: -15px;
                width: 60%;

                &:disabled {
                  padding: 4px 0px;
                  font-size: 12px;
                  bottom: -15px;
                  width: 60%;
                }

                &.#{$identifier}-realm {
                  padding: 13px 0px;
                  font-size: 12px;
                  bottom: -18px;
                  width: 70%;

                  &:disabled {
                    padding: 8px 0px;
                    font-size: 12px;
                    bottom: -16px;
                    width: 70%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
