/* General chat styles */
.#{$identifier}-game-side-modal {
  transition: all 0.3s ease-in-out;
  background-color: rgb(8 8 8 / 60%);
  border-radius: 15px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  width: 90%;
  color: $secondary-color;
  @media (max-width: 480px) {
    width: auto;
  }

  @media (max-width: 768px) {
    .#{$identifier}-btn {
      padding: 12px;
      font-size: 12px;
      width: fit-content;
    }
  }

  &.minimized {
    width: fit-content;
    height: fit-content;
    padding: 8px;

    button {
      padding: 0 4px;
    }

    header {
      width: fit-content;
      margin-bottom: 0px;
      @media (max-width: 480px) {
        padding: 0px 4px;
      }
    }
  }

  .#{$identifier}-messages {
    padding: 10px;
    height: 300px;
    overflow-y: auto;

    @media (max-width: 480px) {
      height: 200px;
    }

    // Hide scrollbar (Webkit-based browsers)
    &::-webkit-scrollbar {
      display: none;
    }

    // Hide scrollbar (Firefox)
    scrollbar-width: none;

    // Hide scrollbar (Edge, IE - not modern, but for completeness)
    -ms-overflow-style: none;
  }

  .#{$identifier}-local-user {
    .#{$identifier}-message {
      justify-content: flex-end;
      align-items: flex-end;
      &--user {
        color: #ffb900;
        justify-content: flex-end;
      }

      &--messsage {
        justify-content: flex-end;
      }

      &--date {
      }
    }
  }

  .#{$identifier}-message {
    position: relative;
    padding: 0.75rem 0rem;
    border-radius: 0.75rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    hr {
      width: 100%;
    }

    &--user {
      display: flex;
      justify-content: flex-start;
      color: rgb(0 255 233 / 80%);
      font-weight: bold;
      margin-bottom: 0.25rem;
      width: 100%;
    }

    &--messsage {
      display: flex;
      justify-content: flex-start;
      color: $white;
      font-size: 1rem;
      line-height: 1.4;
      word-break: break-word;
      border-radius: 8px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      background-color: $light-overlay;
      padding: 8px 12px;
      width: fit-content;
      text-align: left;
    }

    &--date {
      padding-top: 8px;
      font-size: 10px;
      color: $gray;
      width: 100%;
    }
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }

  input {
    width: calc(100% - 50px);
    height: 45px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-right: 12px;
    padding: 0px 8px;
    background-color: $light-overlay;
    &::placeholder {
      color: $white;
      opacity: 1; // Ensures the white is fully visible
    }
    &:active,
    &:focus {
      border-color: $secondary-color;
      outline-color: $secondary-color;
    }
  }

  button {
    cursor: pointer;
  }

  .#{$identifier}-submit-btn {
    height: 45px;
    margin: 0px;
    width: fit-content;
    background-color: $secondary-color;
    flex: 1 0 auto;
  }

  .minimize-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: $white;
    font-size: 36px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0;
  }

  header {
    margin: 0px;
    width: auto;
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: none;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 21px;
    color: $white;

    @media (max-width: 480px) {
      font-size: 16px;
    }
    span {
      width: 100%;
    }
  }
  .#{$identifier}-rooms-list {
    list-style: none;
    list-style-type: none;
    border: 4px solid $primary-color;
    border-radius: 10px;
    padding: 24px;

    .#{$identifier}-room {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .#{$identifier}-btn {
        margin: 10px 0px;
      }

      span {
        color: $white;
        font-size: 24px;
        animation: glowingBlue 4s infinite alternate;
      }
    }
  }

  .#{$identifier}-btns-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 21px;
    .#{$identifier}-btn {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}
