.#{$identifier}-signup-page,
.#{$identifier}-signin-page,
.#{$identifier}-send-email-page {
  max-width: 400px;

  .#{$identifier}-form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 21px;
    margin-bottom: 21px;

    &:has(textarea) {
      .#{$identifier}-input {
        height: 80px;
      }
    }

    .#{$identifier}-input {
      width: -webkit-fill-available;
      height: 40px;
      background-color: transparent;
      border: 0;
      animation: glowBlue 4s infinite alternate;
      border-radius: 10px;
      padding-left: 21px;
      font-size: 21px;
      color: #fff;
      font-family: 'MagicalWorld', sans-serif;
      letter-spacing: 2px;

      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px $primary-color inset !important;
        -webkit-text-fill-color: $white !important;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .#{$identifier}-message {
    margin: 42px 0px 21px;
    color: $white;
    animation: glowingRed 4s infinite alternate;
  }

  .#{$identifier}-btn.#{$identifier}-button {
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
