@use '../variables' as *;

.#{$identifier}-user-greeting {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $white;
  font-size: 14px;

  &:has(.sign-up) {
    .#{$identifier}-link {
      .#{$identifier}-user-name {
        padding: 8px 16px;
      }
    }
  }

  .#{$identifier}-user-container {
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    position: relative;
    @media (max-width: 768px) {
      justify-content: flex-end;
      align-items: stretch;
      width: 100%;
    }

    &:has(.mq-user-progress--contact) {
      justify-content: space-between;
      > div {
        max-height: 34px;
        display: flex;
        flex-direction: row;
        gap: 12px;
      }
    }
    img {
      top: -6px;
      left: -18px;
      position: absolute;
      width: 50px;
      height: auto;
      cursor: pointer;
      z-index: 2;

      @media (max-width: 768px) {
        top: -2px;
        width: 39px;
        left: -18px;
      }
    }
    .#{$identifier}-user-sign {
      display: flex;
      flex-direction: row;
      gap: 12px;
      padding: 7px 0;
      -webkit-text-stroke: var(--menu-item-text-stroke);
      paint-order: var(--paint-order);

      a {
        cursor: pointer;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        color: $white;
        svg {
          font-size: 21px;
          color: var(--secondary-color);
        }

        &:hover {
          text-shadow: 0px 0px 10px $white;
          animation: glowingRed 3s infinite alternate;
        }
      }
    }

    .#{$identifier}-user-progress--contact {
      background-color: var(--light-overlay);
      border-radius: 10px;
      margin-top: 0px;
      margin-left: 13px;
      color: $white;
      display: none;

      @media (max-width: 768px) {
        display: flex;
      }

      &:has(a) {
        padding: 0px;
        background-color: transparent;
      }

      a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--light-overlay);
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        color: $white;
        transform: translateZ(0);
        padding: 0px 10px 0px 24px;
        height: 100%;

        img {
          position: relative;
          left: 0;
          top: 0;
          width: 28px; /* Make image fill 100% of the a tag */
          height: auto;
          object-fit: cover; /* Ensure the image covers the area without stretching */
          margin: 0;
        }

        &:active {
          text-decoration: none;
          color: $white;
        }

        &:hover {
          background-color: var(--secondary-color);
          transform: scale(1.05);
          animation: ninjaSlash 0.3s ease-out;
          cursor: pointer;
        }

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: -100%;
          width: 150%;
          height: 3px;
          background: linear-gradient(
            to right,
            transparent,
            white,
            transparent
          );
          transform: rotate(10deg);
          transition: left 0.4s ease-out;
        }

        &:hover::after {
          left: 100%;
        }
      }
    }

    .#{$identifier}-user-name {
      background-color: var(--light-overlay);
      padding: 4px 16px 4px 36px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;

      &:not(:has(img)) {
        padding: 4px 10px 4px 12px;
      }

      @media (max-width: 768px) {
        width: fit-content;
        padding: 4px 10px 4px 28px;
        font-size: small;
      }

      span {
        background-color: var(--dark-overlay);
        padding: 4px 12px;
        margin-right: 12px;
        border-radius: 10px;
        color: $white;
        text-align: center;
      }
    }
  }
  .#{$identifier}-user-progress {
    display: flex;
    flex-direction: row;
    column-gap: 30px;

    &--exp,
    &--star,
    &--euro,
    &--contact {
      background-color: var(--light-overlay);
      padding: 6px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .#{$identifier}-user {
        &-icon {
          line-height: 1;
          font-size: 0;

          img {
            width: 30px;
          }
        }
      }
    }

    .#{$identifier}-user-progress--contact {
      background-color: var(--light-overlay);
      padding: 6px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      font-size: large;
      color: $white;

      @media (max-width: 768px) {
        display: none;
      }

      a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--dark-overlay);
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        color: $white;
        transform: translateZ(0);
        height: 100%;
        width: 100%;
        font-size: small;
        padding: 0px 12px;
        line-height: 2;

        &:active {
          text-decoration: none;
          color: $white;
        }

        &:hover {
          background-color: var(--secondary-color);
          transform: scale(1.05);
          animation: ninjaSlash 0.3s ease-out;
          cursor: pointer;
        }
      }
    }

    .#{$identifier}-user {
      &-icon {
        line-height: 1;

        img {
          width: 30px;
        }
      }
      &-amount {
        background-color: var(--dark-overlay);
        padding: 6px 12px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        gap: 21px;
        align-items: center;
        width: 100%;
        letter-spacing: 1px;
        -webkit-text-stroke: var(--menu-item-text-stroke);
        paint-order: var(--paint-order);

        &::-webkit-scrollbar {
          display: none;
        }
      }
      &-add {
        margin: 0;
        padding: 10px 0px;
        margin-left: 12px;
        background-color: var(--secondary-color);
        text-align: center;
        width: 60px;
      }
    }
  }
}

@media (max-width: 768px) {
  .#{$identifier}-user-greeting {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 21px;

    &:has(.sign-up) {
      margin-bottom: 0px;
      align-items: flex-end;
      .#{$identifier}-user-name {
        width: auto;
        margin: 0px;
        padding: 6px 12px 6px 14px;
        text-align: center;
        letter-spacing: normal;

        a {
          font-size: small;
          padding: 0;
        }
      }
    }

    .#{$identifier}-user-container {
      .#{$identifier}-user-sign {
        padding: 2px 0px;
      }
    }

    .#{$identifier}-user-sign {
      width: 100%;
      justify-content: space-between;

      a {
        font-size: small;
      }
      font a {
        font-size: 14px;
        svg {
          font-size: 18px;
        }
      }
    }

    .#{$identifier}-user-name {
      width: calc(100% - 24px);
      font-size: 16px;
      flex-wrap: wrap;
      padding: 6px 12px;
      margin: 0px;

      span {
        font-size: 14px;
        margin-right: 8px;
        padding: 4px 10px;
      }
    }

    .#{$identifier}-user-progress {
      width: -webkit-fill-available;
      flex-wrap: nowrap;
      row-gap: 10px;
      column-gap: 16px;
      margin: 0px;
      justify-content: space-between;
      padding: var(--user-progress-padding);
      border: var(--user-progress-border);
      border-color: var(--primary-color);
      border-radius: 10px;

      &--exp,
      &--star,
      &--euro {
        flex: 1 1 fit-content;
        padding: 0px;
        margin-left: 0px;
        background-color: transparent;
      }

      .#{$identifier}-user {
        &-amount {
          font-size: small;
          padding: 6px 10px;
          width: 100%;
          overflow-x: auto;
          display: flex;
          justify-content: space-between;
          gap: 21px;
          align-items: center;
          height: auto;
        }

        &-add {
          padding: 9px 18px;
          margin-left: 8px;
          width: 30px;
          height: auto;
        }
      }
    }
  }
}
